.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: #c1c1c18e;
    padding: 5px;
    margin: 5px;
    font-size: 1rem; 
    border-radius: 6px;
}
.nav-pills .nav-link.active:hover,
.nav-pills .show>.nav-link:hover {
    background-color: #cbcbcb;
}