.list-group-item {
  border: 0;
  background-color: transparent;
}
.list-group-item:hover {
  background-color: lightgray;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover{
 color:inherit;
}