.transparent-bg {
  background-color: transparent !important;
}
body {
    background-color: #f9f9f9;
}
.btn-sign {
    background-color: red;
}
.dark-mode .btn-sign:hover{
  background-color: rgba(255, 0, 0, 0.658);
}
.dark-mode .btn-sign {
  color: var(--clr-light);
}
.form-control {
  background-color: transparent;
}
.cardreg {
    background-color: rgba(128, 128, 128, 0.208);
    border-radius: 5px;
  
  }
.cardreg:hover {
    background-color: rgba(128, 128, 128, 0.208);
    transform: none;
    cursor: default;
  }
  body.dark-mode {
    background-color: var(--clr-dark);
    color: var(--clr-dark);
}
 .dark-mode .cardreg {
    background-color: rgba(128, 128, 128, 0.208);
  }
  .validinput{
    font-size: x-small;
    color: rgba(128, 128, 128, 0.811);
  }
  .dark-mode .validinput{
    font-size: x-small;
    color: var(--clr-dark);
  }
  .sign-in-message {
    font-family: 'Ariel, sans-serif';
    font-size: 16px; 
}
