.transparent-bg {
    background-color: transparent !important;
}
.dark-mode .btn-dark {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
.btn-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
.btn-outline-red {
    color: var(--clr-dark);
    background-color: red;
}
.btn-outline-red:hover {
    background-color: red;
    color: var(--clr-light);
}
.dark-mode .form-control{
    background-color: transparent;
}
.dark-mode .form-control::placeholder{
    color: var(--clr-light);
}
.form-control::placeholder{
    color: var(--clr-dark);
}

.form-control:focus {
    color: var(--clr-dark);
    background-color: transparent !important;
}
.dark-mode .form-control:focus {
    color: var(--clr-light);
}
