.container-fluid {
    margin-right: 5%;
}
.transparent-bg {
    background-color: transparent !important;
}
.dark-mode .btn-dark {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
.btn-dark {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
body.dark-mode .navbar-brand .bi,
body.dark-mode .navbar-nav .nav-link .bi {
  color: var(--clr-light);
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    justify-content: flex-end;
}
.btn-outline-red {
    color: var(--clr-dark);
    background-color: red;
}
.btn-outline-red:hover {
    background-color: red;
    color: var(--clr-light);
}
.dark-mode .form-control{
    background-color: rgba(128, 128, 128, 0.208);
    color: var(--clr-light);
}
.form-control{
    background-color:var(--clr-light) ;
}
