.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--clr-dark);
    background-color: #c1c1c18e;
    margin: 18px;
    font-size: 0.9rem; 
    border-radius: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 11px;
    padding-right: 11px;
    flex: none;
}
.dark-mode .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--clr-light);
    background-color: #c1c1c18e;
}
.nav-pills .nav-link.active:hover,
.nav-pills .show>.nav-link:hover {
    background-color: #cbcbcb;
}